{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% load static %}

{% block content %}

<div class="container" style="margin-top: 50px;">
    {% include 'parciais/_messages.html' %}
</div>

{% if messages %}
<div class="container" style="margin-top: 20px; margin-bottom: 70px;">
    {% else %}
    <div class="container" style="margin-top: 80px;"></div>
    {% endif %}
    <div class="container jumbotron">
        <form method="POST" action="">
            {% csrf_token %}
            {{form|crispy}}

            <input class="btn btn-primary btn-block" type="submit" value="Register Account">
        </form>
    </div>
</div>

{% endblock %}