{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% load static %}

{% block titulo %} | Novo Usuário{% endblock %}

{% block content %}

<div class="container" style="margin-top: 50px;">
    {% include 'parciais/_messages.html' %}

    {% if messages %}
    <div class="container" style="margin-top: 20px; margin-bottom: 70px;">
        {% else %}
        <div class="container" style="margin-top: 80px;">
            {% endif %}
            <div class="container jumbotron">
                <div class="login-form">
                    <h2 class="text-center">Novo Usuário</h2>
                    <div class="login-form">
                        <form method="POST" action="">

                            {% csrf_token %}
                            {{form|crispy}}

                            <input class="btn btn-primary btn-block" type="submit" value="Register Account">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}